section.contact-us {
    padding: 60px 0;
    width: 100%;
}

section.contact-us i {
    font-size: 18px;
    color: $secondary;
    margin-right: 15px;
}

section.contact-us p {
    font-size: 15px;
    font-weight: 400;
    color: $secondary;
    margin-bottom: 0;
}
