section.testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-color: $secondary;
}
section.testimonials img.testimonial-img {
    width: 100px;
    height: 100px;
}
